body {
    background-color: #212529;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

p {
    color: #dee2e6;
}

.card-header, .card-footer {
    background-color: #272b30;
}

.card-body {
    background-color: #212529;
}

table, th, td {
    color: #dee2e6;
    border: 1px solid white;
    text-align: center;
}

table {
    table-layout: fixed;
    border: 1px solid white;
    border-width: 8px !important;
}

.form-check-input {
    text-align: center;
}

td, th {
    padding-left: 0px !important;
    padding-right: 0px !important;
}